 <form ng-submit="addEmployee()">
 	<div class="form-group">
 		<label for="name">Name:</label>
   	<input type="text" class="form-control" id='name' ng-model='employee.name'>
   </div>
   <div class="form-group">
 		<label for="name">dept:</label>
   	<input type="text" class="form-control" id='dept' ng-model='employee.dept'>
   </div>
   <div class="form-group">
 		<label for="name">area:</label>
   	<input type="text" class="form-control" id='area' ng-model='employee.area'>
   </div>
   <div class="form-group">
 		<label for="name">Status:</label>
   	<input type="text" class="form-control" id='status' ng-model='employee.status'>
   </div>
   <div class="form-group">
 		<label for="name">Salary:</label>
   	<input type="text" class="form-control" id='salary' ng-model='employee.salary'>
   </div>
    <button type="submit" class="btn btn-default">Save</button>
    <a href="#!/employees" class="btn btn-default">Cancel</a>
    </form>